@model ModelsMVC.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align: center; font-weight: bold; color: #000000">Đăng nhập Admin</h2>
<br />

<div class="panel-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
        <fieldset>
            <div class="form-group">
                @Html.TextBoxFor(model => model.id, new { @class = "form-control", @placeholder = "UserName", @autofocus = "autofocus" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.MatKhau, new { @class = "form-control", @placeholder = "Password", @type = "password" })
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.Remenberme)
                    Remember Me
                </label>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <button type="submit" class="btn btn-lg btn-success btn-block">Đăng nhập</button>
        </fieldset>
    }
</div>

