@model IEnumerable<ModelsMVC.Framework.Phong>

@{
    Layout = null;
    int i = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ds_phong_ajax</title>
</head>
<body>
    <h2 style="text-align: center; font-weight: bold; color: #000000">DANH SÁCH PHÒNG</h2>

    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>

                    <i class="bi bi-plus-circle-dotted"></i>
                    @Html.ActionLink("Thêm mới", "them_phong")

                </th>
            </tr>
        </table>
    </div>
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã phòng
            </th>
            <th>
                Mã loại phòng
            </th>
            <th>
                Mã chủ trọ
            </th>
            <th>
                Diện tích
            </th>
            <th>
                Giá
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Số lượng
            </th>
            <th>
               Hình ảnh
            </th>
            <th>
                Cập nhật
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @{ i++;}
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phong_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiPhong_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuTro_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienTich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            <img src="@Url.Content("~/Content/Image/" + item.HinhAnh)" width="45" />
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "sua_phong", new { id = item.Phong_ID }) |
            @Html.ActionLink("Xóa", "xoa_phong", new { id = item.Phong_ID })
        </td>
    </tr>
        }

    </table>
</body>
</html>
