@model IEnumerable<ModelsMVC.Framework.NguoiDung>

@{
    Layout = null;
    int i = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ds_nguoidung_ajax</title>
</head>
<body>
    <h2 style="text-align: center; font-weight: bold; color: #000000">DANH SÁCH NGƯỜI DÙNG</h2>

    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>

                    <i class="bi bi-plus-circle-dotted"></i>
                    @Html.ActionLink("Thêm mới", "them_nguoidung")

                </th>
            </tr>
        </table>
    </div>
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã người dùng
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Số điện thoại
            </th>

            <th>
                Địa chỉ
            </th>
            <th>
                Email
            </th>
            <th>Cập nhật</th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ i++;}
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @{  string gt = "";
                    if (item.GioiTinh == false)
                    {
                        gt = "Nữ";
                    }
                    else
                    {
                        gt = "Nam";
                    }
                    @gt;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "sua_nguoidung", new { id = item.NguoiDung_ID }) |
                @Html.ActionLink("Xóa", "xoa_nguoidung", new { id = item.NguoiDung_ID })
            </td>
        </tr>
        }
    </table>
</body>
</html>
