@model ModelsMVC.Framework.ChuTro

@{
    ViewBag.Title = "xoa_chutro";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2  style="text-align: center; font-weight: bold; color: #000000">XÓA THÔNG TIN CHỦ TRỌ</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <div>
            <dt>
               Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>

        <div>
            <dt>
               Số điện thoại:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>
        </div>

        <div>
            <dt>
               Tên nhà trọ:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenNhaTro)
            </dd>
        </div>

        <div>
            <dt>
              Địa chỉ:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>
        </div>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input name="submit" type="submit" value="Xóa" class="btn btn-primary" /> |
    <input name="submit" type="submit" value="Trở về" class="btn btn-primary" /> 

</div>
    }
</div>
